@{
    ViewBag.Title = "Cena";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@if (ViewBag.c_primo != null && ViewBag.c_secondo != null && ViewBag.c_contorno != null && ViewBag.c_dolce != null) {
<ul class="list-group">
    <li class="list-group-item">
        <b>Data</b>      @ViewBag.c_data
    </li>
    <li class="list-group-item">
        <b>primo</b> @ViewBag.c_primo
    </li>
    <li class="list-group-item">
        <b>secondo</b>  @ViewBag.c_secondo
    </li>
    <li class="list-group-item">
        <b>contorno</b> @ViewBag.c_contorno
    </li>
    <li class="list-group-item">
        <b>dolce</b> @ViewBag.c_dolce
    </li>
</ul>
}


@using (Html.BeginForm("Cena", "Home", FormMethod.Post)) {
    <div>
        <b>Data</b>      @Html.TextBox("date") <br /> <br />
        <b>Primo</b>      @Html.TextBox("primo") <br /> <br />
        <b>Secondo</b> @Html.TextBox("secondo")<br /> <br />
        <b>Contorno</b>      @Html.TextBox("contorno") <br /> <br />
        <b>Dolce</b> @Html.TextBox("dolce")<br /> <br />
        <input type="submit" value="Aggiungi" />
    </div>
}