@{
    ViewBag.Title = "Giorno";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<ul class="list-group">
    <li class="list-group-item">
        <b>Data</b>       @ViewBag.data
    </li>
    <br />
    <br />
    <li class="list-group-item">
        <b>Pranzo</b>
    </li>
    <li class="list-group-item">
        <b>primo</b> @ViewBag.p_primo
    </li>
    <li class="list-group-item">
        <b>secondo</b>  @ViewBag.p_secondo
    </li>
    <li class="list-group-item">
        <b>contorno</b> @ViewBag.p_contorno
    </li>
    <li class="list-group-item">
        <b>dolce</b> @ViewBag.p_dolce
    </li>
    <br />
    <br />
    <li class="list-group-item">
        <b>Cena</b>
    </li>
    <li class="list-group-item">
        <b>primo</b> @ViewBag.c_primo
    </li>
    <li class="list-group-item">
        <b>secondo</b>  @ViewBag.c_secondo
    </li>
    <li class="list-group-item">
        <b>contorno</b> @ViewBag.c_contorno
    </li>
    <li class="list-group-item">
        <b>dolce</b> @ViewBag.c_dolce
    </li>
</ul>