@using System;
@*@using Interfaces;
@using DAO;*@
@using LucaMVC.Controllers;
@using DataAccessObject;

@{
    ViewBag.Title = "Settimana";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    input {
    }
</style>

<br />
<div>
    @if (ViewBag.Message != null) {
        <h3 class="alert alert-warning">@ViewBag.Message</h3>
    }
    <h4>Selezionare la data di cui si vogliono visualizzare i dettagli</h4>
</div>
<div>
    <form action="/Home/VisualizzaGiorno" method="post">
        <input type="date" name="data" id="data" required />
        <input type="submit" value="Seleziona" class="btn info" style="color:white; background-color: #2196F3; background: #0b7dda;" />
    </form>
</div>
<br>

<ul class="list-group">
    <li class="list-group-item">
        <b>Data</b>       @ViewBag.data
    </li>
    <br />
    <br />
    <li class="list-group-item">
        <b>Pranzo</b>
    </li>
    <li class="list-group-item">
        <b>primo</b> @ViewBag.p_primo
    </li>
    <li class="list-group-item">
        <b>secondo</b>  @ViewBag.p_secondo
    </li>
    <li class="list-group-item">
        <b>contorno</b> @ViewBag.p_contorno
    </li>
    <li class="list-group-item">
        <b>dolce</b> @ViewBag.p_dolce
    </li>
    <br />
    <br />
    <li class="list-group-item">
        <b>Cena</b>
    </li>
    <li class="list-group-item">
        <b>primo</b> @ViewBag.c_primo
    </li>
    <li class="list-group-item">
        <b>secondo</b>  @ViewBag.c_secondo
    </li>
    <li class="list-group-item">
        <b>contorno</b> @ViewBag.c_contorno
    </li>
    <li class="list-group-item">
        <b>dolce</b> @ViewBag.c_dolce
    </li>
</ul>






@if (ViewBag.giorno != null) {
    <div class="panel panel-default">
        <div class="panel-heading">Dettagli del @ViewBag.giorno.data.ToString("dd-MM-yyyy")</div>
        <table>
            <tr>
                <td>Tipo</td>
                <td>Totale ore</td>
                <td>Commessa</td>
                <td>Ore lavoro commessa</td>
                <td>Note</td>
            </tr>
            @{
                int count = 0;
            }
            @foreach (OreLavorate orelavorate in ViewBag.giorno.OreLavorate) {
                <tr>
                    @if (count == 0) {
                        <td>Totale ore lavoro</td>
                        <td>@ViewBag.giorno.TotOreLavorate</td>
                        count++;
                    } else {
                        <td></td>
                        <td></td>
                    }
                    <td>@orelavorate.nome</td>
                    <td>@orelavorate.oreGiorno</td>
                    <td>@orelavorate.descrizione</td>
                </tr>
            }
            <tr>
                <td>Totale ore permesso</td>
                <td>@ViewBag.giorno.OrePermesso</td>
            </tr>
            <tr>
                <td>Totale ore malattia</td>
                <td>@ViewBag.giorno.OreMalattia</td>
            </tr>
            <tr>
                <td>Totale ore ferie</td>
                <td>@ViewBag.giorno.OreFerie</td>
            </tr>
        </table>
    </div>
}